body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0; /* Remove default body margin */
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.card {
  margin: 20px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cardheader {
  /* background-color: #f7d46e; */
  color: #c3156a;
  font-weight: bold;
  font-size: 24px;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card-item {
  width: 15%;
  margin: 5px 20px;
  padding: 1px 0 1px 2%;
  border: 1px solid #f7d46e;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%; /* Reduce container width on medium screens */
  }

  .card-item {
    width: 49%;
    margin: 5px 1px;
    padding: 1px 0 1px 2%;
    border: 1px solid #f7d46e;
    border-radius: 5px;
  }
}

.card-item h5 {
  margin: 0;
  font-size: 15px;
  color: #3f37d8;
}

.card-item p {
  margin: 0;
  font-size: 12px;
  color: gray;
}
